<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Yara - Inicio</title>
    <link rel="stylesheet" href="src/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="./src/img/logo_rosa__2000x2000__1_-removebg-preview.png"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="text-gray-700 pt-9 sm:pt-10">
    <!-- ========== { HEADER }==========  -->
    <header class="fixed top-0 left-0 right-0 z-50">
      <nav class="bg-black">
        <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2 bg-colo">
          <div class="flex justify-between">
            <div class="mx-w-10 flex items-center">
              <img
                class="absolute top-0 left-0 block w-9/12 h-full"
                src="./src/img/logo_rosa__2000x2000__1_-removebg-preview.png"
                alt="Logotipo yara"
              />
            </div>

            <div class="flex flex-row">
              <ul
                class="navbar hidden lg:flex lg:flex-row text-gray-400 text-sm items-center font-bold"
              >
                <li
                  class="active relative border-l border-gray-800 hover:bg-gray-900"
                >
                  <a
                    class="block py-3 px-6 border-b-2 border-transparent"
                    href="index.html"
                    >Inicio</a
                  >
                </li>
                <li class="relative border-l border-gray-800 hover:bg-gray-900">
                  <a
                    class="block py-3 px-6 border-b-2 border-transparent"
                    href="#"
                    >Mis emprendimientos</a
                  >
                </li>
                <li class="relative border-l border-gray-800 hover:bg-gray-900">
                  <a
                    class="block py-3 px-6 border-b-2 border-transparent"
                    href="#"
                    >Layout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- =========={ MAIN }==========  -->
    <main id="content">
      <div
        class="relative bg-red"
        style="
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
        "
      >
        <div class="bg-amber-100">
          <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
            <div class="flex flex-row flex-wrap">
              <div class="flex-shrink max-w-full w-full py-12 overflow-hidden">
                <div class="w-full py-3">
                  <h2
                    class="text-white font-bold text-shadow-black text-4xl text-center"
                  >
                    <a href="#">
                      <button
                        type="submit"
                        class="mx-auto rounded py-5 flex items-center py-3 px-5 leading-5 text-white bg-rose-400 hover:text-white hover:bg-rose-600 hover:ring-0 focus:outline-none focus:ring-0"
                      >
                        Crear emprendimiento
                      </button>
                    </a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white py-6">
        <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex-shrink max-w-full w-full overflow-hidden">
              <div class="grid grid-cols-4 gap-4">
                <!-- Card del emprendimiento -->
                <div
                  class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md"
                >
                  <a href="#">
                    <img
                      class="rounded-t-lg"
                      src="https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                      alt=""
                    />
                  </a>
                  <div class="p-5">
                    <a href="#">
                      <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                      >
                        Noteworthy technology acquisitions 2021
                      </h5>
                    </a>
                    <p
                      class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                    >
                      Here are the biggest enterprise technology acquisitions of
                      2021 so far, in reverse chronological order.
                    </p>
                    <a
                      href="#"
                      class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-rose-400 rounded-lg hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-blue-300"
                    >
                      Ver mas
                      <svg
                        aria-hidden="true"
                        class="ml-2 -mr-1 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
                <!-- END: Card del emprendimiento -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="src/vendors/hc-sticky/dist/hc-sticky.js"></script>
    <script src="src/vendors/glightbox/dist/js/glightbox.min.js"></script>
    <script src="src/vendors/@splidejs/splide/dist/js/splide.min.js"></script>
    <script src="src/vendors/@splidejs/splide-extension-video/dist/js/splide-extension-video.min.js"></script>
    <script src="src/js/theme.js"></script>
  </body>
</html>
