<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <form action="/login" method = "POST">
        {{form.hidden_tag()}}
        <DIv>
            {{form.ci.label}}
            {{form.ci}}
        </DIv>
        <DIv>
            {{form.password.label}}
            {{form.password}}
        </DIv>
        <DIv>
            {{form.submit()}}
        </DIv>
    </form>
</body>
</html>